<h1><%= @user.name%>のユーザ情報</h1>
<p>ID　　：<%= @user.id %></p>
<p>名前　：<%= @user.name %></p>
<p>e-mail：<%= @user.email %></p>

<%= link_to "ユーザ情報を修正", edit_user_path(@user) %>


<h2>
<%= link_to 'タスク管理', tasks_path %>
</h2>