<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Tasklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="list-unstyled">
      <li><a href="/">ホーム</a></li>
      <% if logged_in? %>
        <li> <%= link_to 'タスク一覧', root_path %>  </li>
        <li> <%= link_to 'ユーザ情報', user_path(current_user) %>  </li>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %>  </li>
      <% end %>
    </ul>
    <hr>
    <div class="container">
      <%= render "layouts/flash_tasks" %>
      <%= yield %>
    </div>
  </body>
</html>
